/*Navegação*/
html {
  font: small/1.5 "Lucinda Grande", Tahoma, sans-serif;
}
#main {
  max-width: 990px;
  margin: 0 auto;
}
nav {

}
#nav-principal {
  margin: 0;
  padding: 0;
  background: #fff;
  list-style-type: none;
  width: 890px;
}

#nav-principal li {
  margin: 0;
  padding: 0;
  float: left;
}
#nav-principal a {
  float: left;
  width: 200px;
  text-align: center;
  color: #000;
  text-decoration: none;
  line-height: 1.5;
  border: 1px solid #000;
}

#nav-principal a:hover {
  background-color: #00FFFF;
}

  #body-regionais #nav-regionais a,
  #body-empreendimentos #nav-empreendimentos a,
  #body-usuarios #nav-usuarios a,
  #body-sair #nav-sair a {
    background: #beb06f;
    color: #1a1303;
    font-weight: bold;
}
/*fim navegação*/

/*Paginação*/
#paginacaoRegional  {
  padding: 0px;
  margin-left: 170px;
}

#paginacaoRegional li{
  display: inline;
  color: blue;
}
/*fim da paginação*/

/*tabelas*/
table {
	margin: 0 auto;
	border-collapse: collapse;
}

th, td{ border: 1px solid #000; text-align: left;}
.descricao { padding: 0 150px 0 150px; }
.edita-exclui { padding: 0 10px 0 10px; }
.descricao-empreendimento { padding: 0 200px 0 0px; }
.cidade { padding: 0 150px 0 0px; }
.uf { padding: 0 30px 0 0px; }
.nome-usuario { padding: 0 120px 0 0px; }
.email-usuario { padding: 0 120px 0 0px; }
/* fim tabela*/


/* header */
section.lista-principal {
  float: left;
  margin-top: 3%;
  width: 81.37%;
  height: 500px;
  border: 1px solid #000;
}

header h3 {
  text-align: center;
  margin-bottom: 10px;
}

#btnNovo {
  margin: 30px 0 0 550px;
}
/* fim header */

/*formulario*/
#form-cadastrar {
	border-style: none;
  display: none;
}
#form-atualizar {
  border-style: none;
  display: none;
}

#form-empree {
	padding: 2.5em 1em 0 12em;
	list-style: none;
}

#btnGravar, #btnAtualizar {
	margin-left: 28em;
}

.input-empree {
	float: left;
	clear: left;
	width: 100%;
	padding-bottom: 1.5em;
}

label {
	float: left;
	width: 10em;
	margin-right: 1em;
	text-align: right;
}

/*Lista empreendiento na pag usuarios.php*/
.scroll {
    margin-left: 15%;
	  width:200px;
	  height:70px;
	  border: 1px solid #F2F2F2;
	  overflow:auto;
	}

.scroll ul li{
  list-style-type: none;;
}
/*fim Lista empreendiento na pag usuarios.php*/

#voltar {
  text-align: center;
}

#voltar a:link {
    text-decoration: none;
}

#voltar a:hover {
    text-decoration: underline;
}

#voltar a:active {
    text-decoration: underline;
}

/*fim formulário empreendimentos*/
